<button class="trigger{{ context ? ' trigger--' ~ context }}{{ loop.first ? ' trigger--current' }}{{ env ? ' trigger--' ~ env }}{{ context == 'tab' ? ' badge badge--solid' }}{{ ticket.themeTicket ? ' trigger--' ~ ticket.themeTicket }}" aria-controls="{{ context }}-{{ tab.title|lower|replace({' ': "-"})|e('html_attr') }}--{{ loop.index }}" aria-expanded="{{ loop.first ? 'true' : 'false' }}" type="button">
  <div class="trigger-inner">
    {%- if context == 'ticket' %}
      <div class="columns">
        <div class="column-info">
          <h4 class="title">{{- ticket.title|e -}}</h4>
          <p class="infoText">{{ ticket.infoText|e }}</p>
        </div>
        <div class="column-price">
          <span class="price">&euro; {{ ticket.price|e -}}</span>
        </div>
      </div>
    {% else -%}
      {{ tab.title|e }}
    {%- endif -%}
  </div>
</button>
