<div class="flyntComponent {{ theme.cssClass }} {% if useCase %}flyntComponent--{{ useCase }}{% endif %}" is="flynt-slider-media">
  <script class="jsData" type="application/json">{{ jsData }}</script>
  <div class="wrapper {{ mainContentOptionSet.layoutType == '1' ? 'wrapper--sliderIsContentWidth' }}">
    <div class="sliderMediaSlider">
      {% if not useCase == 'pageHeader' %}
        {% if sectionTitle or anchorId %}
            <div class="container">
          {% if anchorId %}
              <div class="anchorTarget">
                <a name="{{ anchorId|e }}" class="anchorTarget-link"></a>
              </div>
          {% endif %}
          {% if sectionTitle %}
              <h2 class="sliderMediaSlider-title">{{ sectionTitle|e }}</h2>
          {% endif %}
          </div>
        {% endif %}
      {% endif %}
      <div class="sliderMediaSlider-content {% if useCase %}sliderMediaSlider-{{ useCase }}{% endif %}">
        {% if not useCase == 'pageHeader' and mainContentOptionSet.layoutType == '1' %}
          <div class="container">
        {% endif %}
        <div class="sliderMedia">
          {% include 'Partials/SlideProgress/index.twig' with { autoplay: globalOptionSet.autoplay } only %}
          <div class="sliderMedia-slides">
            {% for mediaSlide in mediaSlides %}
              <div class="sliderMedia-slide">
                {% if mediaSlide.slide.mediaType == 'image' %}
                  {% include 'Partials/Image/index.twig' with { image: mediaSlide.slide.image, alignImage: mediaSlide.slide.alignImage, useCase: useCase } only %}
                {% elseif mediaSlide.slide.mediaType == 'oembed' %}
                  {% include 'Partials/OembedVideo/index.twig' with { posterImage: mediaSlide.slide.posterImage, oembedLazyLoad: mediaSlide.slide.oembedLazyLoad, alignImage: mediaSlide.slide.alignImage, useCase: useCase } only %}
                {% endif %}
                {% include 'Partials/SlideTitle/index.twig' with { layoutType: mainContentOptionSet.layoutType, heroType: mediaSlide.slide.heroType, topic: mediaSlide.slide.topic, title: mediaSlide.slide.title, subtitle: mediaSlide.slide.subtitle, link: mediaSlide.slide.link, useCase: useCase } only  %}
              </div>
            {% endfor %}
          </div>
        </div>
        {% if not useCase == 'pageHeader' and mainContentOptionSet.layoutType == '1' %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
