{% if image %}
  <div class="sliderMedia-imageItem" {{ useCase == 'pageHeader' ? 'data-parallax' }} >
    <img class="sliderMedia-imageTag sliderMedia--{{ alignImage }} lazyload {{ useCase == 'pageHeader' ? 'lazypreload' }} lazyload--fade"
      src="{{ image.src|resizeDynamic(2096, 1179, 'center') }}"
      srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAQAAACRI2S5AAAAEklEQVR42mP8X8+AFzCOKgADAJ1vDXivFXd/AAAAAElFTkSuQmCC"
      data-srcset="
        {{ image.src|resizeDynamic(2560, 1440, 'center') }} 2560w,
        {{ image.src|resizeDynamic(2096, 1179, 'center') }} 2096w,
        {{ image.src|resizeDynamic(1600, 900, 'center') }} 1600w,
        {{ image.src|resizeDynamic(1440, 810, 'center') }} 1440w,
        {{ image.src|resizeDynamic(1024, 576, 'center') }} 1024w,
        {{ image.src|resizeDynamic(800, 450, 'center') }} 800w,
        {{ image.src|resizeDynamic(480, 270, 'center') }} 480w"
      data-sizes="auto"
      alt="{{ image.alt|e }}">
  </div>
{% endif %}
